#markdown-toc {
    border-width: thin;
    border-color: #9C9C9C;
    padding: 1em 1em 1em 2em;
    white-space: nowrap;
    display: inline-block;
    float: right;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #9C9C9C;
}
#markdown-toc>li {
	list-style: square;
}
#markdown-toc>li>ul {
 	padding-left: 1em;
}
#markdown-toc>li>ul>li {
 	list-style: disc;
}